PORT=8080
NODE_ENV=development

# CORS
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080

# Session
SESSION_SECRET=your-session-secret

# MongoDB
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/<dbname>?retryWrites=true&w=majority

# Cloudinary
CLOUDINARY_URL=cloudinary://<api_key>:<api_secret>@<cloud_name>

# Gmail SMTP
GMAIL_USER=your-email@gmail.com
GMAIL_PASS=your-app-password

# ECPay
MERCHANT_ID=your-merchant-id
HASH_KEY=your-hash-key
HASH_IV=your-hash-iv
